name: Package only

on:
  pull_request:

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1

      - uses: BigWigsMods/packager@master
        with:
          args: -d -g classic -n "{package-name}-{project-version}" -p 340903

      - uses: BigWigsMods/packager@master
        with:
          args: -d -g bcc -n "{package-name}-{project-version}" -p 340903

      - uses: BigWigsMods/packager@master
        with:
          args: -d -g wrath -n "{package-name}-wrath-{project-version}" -p 340903
